@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "pelakmed";
    src: url("/font/PelakFA-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "pelaksemi";
    src: url("/font/PelakFA-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "pelakbold";
    src: url("/font/PelakFA-Bold.ttf") format("truetype");
  }

 
}
